<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    <title>Products</title>
</head>
  <body>
 {{>pdtnav}}

<section class="parallax-container" data-parallax-img="images/pdt.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">Products</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="/">Home</a></li>
                  <li class="active">Donate</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Newly Added</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Short Products</a>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Filter Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Product Catagory 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
         <li>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</li>
<li>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

         </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
    
    <center>
<table>
  <tr>
    <td>
      <div class="card" style="width: 18rem; position: relative; position: relative;">
        <img src="images/p1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Phone</h5>
          <p class="card-text">Very simple and good phone i was using more the one year.</p>
          <a href="#" class="btn btn-primary" style="left: 30px;">Take</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem; position: relative;">
        <img src="images/p2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pen</h5>
          <p class="card-text">Very simple and good pen i was using more the one year.</p>
          <a href="#" class="btn btn-primary">Take</a>
        </div>
    </td>
   <td>
    <div class="card" style="width: 18rem; position: relative; position: relative;">
      <img src="images/p3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sunglass</h5>
        <p class="card-text">Very simple and good sunglass i was using more the one year.</p>
        <a href="#" class="btn btn-primary">Take</a>
      </div>
    </div>
   </td>
   <td>
    <div class="card" style="width: 18rem; position: relative; position: relative;">
      <img src="images/p4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Night Lamp</h5>
        <p class="card-text">Very simple and good night lamp i was using more the one year.</p>
        <a href="#" class="btn btn-primary">Take</a>
      </div>
    </div>
   </td>
  </tr>
  <tr> <td> &nbsp;&nbsp;&nbsp; </td></tr>
  <tr>
    <td>
      <div class="card" style="width: 18rem; position: relative; position: relative;">
        <img src="images/p5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chair</h5>
          <p class="card-text">Very simple and good chair i was using more the one year.</p>
          <a href="#" class="btn btn-primary">Take</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem; position: relative;">
        <img src="images/p6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hat</h5>
          <p class="card-text">Very simple and good hat i was using more the one year.</p>
          <a href="#" class="btn btn-primary">Take</a>
        </div>
    </td>
   <td>
    <div class="card" style="width: 18rem; position: relative; position: relative;">
      <img src="images/p7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Steel Bottle</h5>
        <p class="card-text">Very simple and good bottol i was using more the one year.</p>
        <a href="#" class="btn btn-primary">Take</a>
      </div>
    </div>
   </td>
   <td>
    <div class="card" style="width: 18rem; position: relative; position: relative;">
      <img src="images/p8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Torch Light</h5>
        <p class="card-text">Very simple and good bottol i was using more the one year.</p>
        <a href="#" class="btn btn-primary">Take</a>
      </div>
    </div>
   </td>
  </tr>
  <br>
</table>

   </center>
      </section>
   
 {{>footer}}
 </body>
 </html>
